### Import all necessary libraries

In [22]:
import pandas as pd
import numpy as np

### Read output from Stage 1

In [23]:
df = pd.read_csv('output_From_Stage_1.csv',index_col=False)
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

### Download the geographical coordinates of each postal code

In [24]:
!wget -q "https://cocl.us/Geospatial_data" -O Geospatial_data.csv
print("Download complete")

Download complete

### Transform the data into a pandas dataframe

In [25]:
df_geo = pd.read_csv('Geospatial_data.csv')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Merge two data frames into final version

In [26]:
df=df.merge(df_geo,how='right',left_on='Postcode',right_on='Postal Code',validate='one_to_one')
df.drop(columns=['Postal Code'],inplace=True)
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [27]:
df.shape

(103, 5)