In [ ]:
!pip uninstall -y tensorboard
!pip uninstall -y tensorflow
!pip uninstall -y autoai-libs

!pip install -U geocoder
!pip install -U geopy
!pip install -U googlemaps
!pip install -U folium
!pip install -U numpy
!pip install -U pandas

import pandas as pd
import numpy as np

from pandas import json_normalize  # tranform JSON file into a pandas dataframe

import googlemaps
from datetime import datetime
import requests
import geopy

geopy.geocoders.options.default_user_agent = "my-application"

import ast
import json
import time

import folium
from folium.plugins import HeatMap

from ibm_botocore.client import Config
import ibm_boto3

print('Ready')

In [2]:
# The code was removed by Watson Studio for sharing.

In [ ]:
!wget --cookies=on --save-cookies cookies.txt --keep-session-cookies --post-data 'user=EMAIL&password=PASSWORD' 'https://www.ctt.pt/fecas/login?service=https%3A%2F%2Fwww.ctt.pt%2Ffemgu%2Fj_spring_cas_security_check.jspx'
!wget --cookies=on --load-cookies cookies.txt --keep-session-cookies 'https://www.ctt.pt/feapl_2/app/restricted/postalCodeSearch/postalCodeDownloadFiles!downloadPostalCodeFile.jspx' -O PostCodeFull.Pt.zip

In [4]:
# The code was removed by Watson Studio for sharing.

In [5]:
def download_file_cos(credentials, local_file_name, key):
    cos = ibm_boto3.client(service_name='s3',
                           ibm_api_key_id=credentials['IBM_API_KEY_ID'],
                           ibm_service_instance_id=credentials['IAM_SERVICE_ID'],
                           ibm_auth_endpoint=credentials['IBM_AUTH_ENDPOINT'],
                           config=Config(signature_version='oauth'),
                           endpoint_url=credentials['ENDPOINT'])
    try:
        res = cos.download_file(Bucket=credentials['BUCKET'], Key=key, Filename=local_file_name)
    except Exception as e:
        print(Exception, e)
    else:
        print('File Downloaded')

In [6]:
def upload_file_cos(credentials, local_file_name, key):
    cos = ibm_boto3.client(service_name='s3',
                           ibm_api_key_id=credentials['IBM_API_KEY_ID'],
                           ibm_service_instance_id=credentials['IAM_SERVICE_ID'],
                           ibm_auth_endpoint=credentials['IBM_AUTH_ENDPOINT'],
                           config=Config(signature_version='oauth'),
                           endpoint_url=credentials['ENDPOINT'])
    try:
        res = cos.upload_file(Filename=local_file_name, Bucket=credentials['BUCKET'], Key=key)
    except Exception as e:
        print(Exception, e)
    else:
        print(' File Uploaded')

In [ ]:
!ls -la

In [8]:
download_file_cos(credentials, 'concelhos.txt', 'concelhos.txt')
download_file_cos(credentials, 'distritos.txt', 'distritos.txt')
download_file_cos(credentials, 'todos_cp.txt', 'todos_cp.txt')

File Downloaded
File Downloaded
File Downloaded

In [ ]:
# This ZIP contains (distritos.txt, concelhos.txt, todos_cp.txt)
!unzip -x PostCodeFull.Pt.zip

In [10]:
df_DD = pd.read_csv('distritos.txt', sep=';', encoding='iso8859_15')
df_DD.head()

   DD           DESIG
0   1          Aveiro
1   2            Beja
2   3           Braga
3   4        Bragança
4   5  Castelo Branco

In [11]:
df_CC = pd.read_csv('concelhos.txt', sep=';', encoding='iso8859_15')
df_CC = df_CC[df_CC['DD'] == 8]
df_CC.head()

     DD  CC            DESIG
101   8   6  Lagoa (Algarve)
102   8   7            Lagos
103   8   8            Loulé
104   8   9        Monchique
105   8  10            Olhão

In [12]:
df_PostalCode = pd.read_csv('todos_cp.txt', sep=';', encoding='iso8859_15', index_col=False).reset_index()[['DD', 'CC', 'LLLL', 'LOCALIDADE', 'CP4', 'CP3', 'CPALF']]
df_PostalCode.head()

   DD  CC  LLLL      LOCALIDADE   CP4  CP3   CPALF
0   1   1   249         Alcafaz  3750   11  AGADÃO
1   1   1   250         Caselho  3750   12  AGADÃO
2   1   1   251  Corga da Serra  3750   13  AGADÃO
3   1   1   252             Foz  3750   14  AGADÃO
4   1   1   253        Guistola  3750   15  AGADÃO

In [13]:
# Select only location from Algarve
df_CPALF_Algarve = pd.DataFrame(df_PostalCode[df_PostalCode['DD'] == 8].groupby(['CPALF'])['CP4'].count()).reset_index()[['CPALF']]
df_CPALF_Algarve.head()

          CPALF
0     ALBUFEIRA
1  ALCANTARILHA
2      ALCOUTIM
3       ALFERCE
4         ALGOZ

In [14]:
# The code was removed by Watson Studio for sharing.

In [15]:
df_all_locations = pd.DataFrame()
for row in df_CPALF_Algarve.itertuples():
    address = '{}, Algarve, Portugal'.format(getattr(row, 'CPALF'))
    try:
        gmaps = googlemaps.Client(key=GOOGLE_MAPS_API_KEY, timeout=1)
        location = gmaps.geocode(address)
    except geopy.exc.GeocoderUnavailable:
        print('GeocoderUnavailable')
        print(name)
    except urllib.error.URLError:
        print('URLError')
        print(name)
    except OSError:
        print('OSError')
        print(name)

    if df_all_locations.empty:
        df_all_locations = pd.DataFrame(json_normalize(location))
    else:
        df_all_locations = df_all_locations.append(json_normalize(location), sort=False)

print(df_all_locations.shape)

(73, 18)

In [16]:
df_location_geometry = df_all_locations.reset_index()[['geometry.location.lat', 'geometry.location.lng']].reset_index()
df_location_geometry.to_csv('location_geometry.csv', index=False)
upload_file_cos(credentials, 'location_geometry.csv', 'location_geometry.csv')

 File Uploaded

In [17]:
# Remove duplications
df_location_geometry_sorted = df_location_geometry.sort_values(by=['geometry.location.lat', 'geometry.location.lng'], ignore_index=True).reset_index()[['geometry.location.lat', 'geometry.location.lng']]
df_location_geometry_sorted.columns = ['latitude', 'longitude']
df_location_geometry_sorted.head()

    latitude  longitude
0  37.016829  -8.940593
1  37.019355  -7.930440
2  37.026042  -7.842351
3  37.047121  -7.744386
4  37.071629  -8.101987

In [18]:
# The code was removed by Watson Studio for sharing.

In [19]:
# category='4bf58dd8d48988d12f951735' # Resort
category = '4bf58dd8d48988d1fa931735'  # Hotel

df_all_hotels = pd.DataFrame()
for row in df_location_geometry_sorted.itertuples():

    latitude = getattr(row, 'latitude')
    longitude = getattr(row, 'longitude')

    url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&intent=browse&categoryId={}'.format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        latitude,
        longitude,
        9999,
        50,
        category)
    results = json_normalize(requests.get(url).json())
    try:
        if not results.empty:
            response_venues = results['response.venues'][0]
            if response_venues:
                if df_all_hotels.empty:
                    df_all_hotels = pd.DataFrame(response_venues)
                else:
                    df_all_hotels = df_all_hotels.append(response_venues, sort=False)
    except KeyError:
        print('Error')

print(len(df_all_hotels))

2785

In [20]:
# Remove duplications
df_all_hotels_sorted = df_all_hotels.sort_values(by=['name'], ignore_index=True).reset_index()[['id', 'location', 'name']]
df_all_hotels_sorted.drop_duplicates(subset=['id'], ignore_index=True, inplace=True)
df_all_hotels_sorted.head()

,id,location,name
0,5b2d6e07b2958f002c54e4ba,"{'lat': 37.090429, 'lng': -8.209487, 'labeledL...",1-211 appartement
1,4f7350c2e4b0257534d4008b,"{'address': 'Algarve', 'lat': 37.10418, 'lng':...",402
2,575882b6498e96a54155636e,"{'lat': 37.093356, 'lng': -8.743884, 'labeledL...",A Cabana B&B
3,5011b9abe4b0c3be96766adf,"{'lat': 37.09199419481045, 'lng': -8.209547670...",Acqua Maris
4,4da4481b2939b1f7049e2e57,"{'address': 'Rocha Baixinha', 'lat': 37.082724...",Adriana Beach Club & Spa

In [21]:
# Searching for all food venues
category = '4d4b7105d754a06374d81259'  # Food
df_all_food = pd.DataFrame()

for ind in df_all_hotels_sorted.index:

    location = df_all_hotels_sorted['location'][ind]
    try:
        coord = pd.DataFrame(location['labeledLatLngs'])
        latitude = coord['lat'][0]
        longitude = coord['lng'][0]
    except KeyError:  # Some of the locations does not have 'labeledLatLngs', but just JSON string
        try:
            location_json = ast.literal_eval(location)
            latitude = location_json['lat']
            longitude = location_json['lng']
        except ValueError:  # Some of those JSON string does not have 'quotes' around the values
            latitude = location['lat']
            longitude = location['lng']

    try:
        url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&intent=browse&categoryId={}'.format(
            CLIENT_ID,
            CLIENT_SECRET,
            VERSION,
            latitude,
            longitude,
            999,
            50,
            category)
        results = json_normalize(requests.get(url).json())

        if not results.empty:
            response_venues = results['response.venues'][0]
            if response_venues:
                if df_all_food.empty:
                    df_all_food = pd.DataFrame(response_venues)
                    df_all_hotels_sorted['food.count'] = 0
                else:
                    df_all_food = df_all_food.append(response_venues, sort=False)
                df_all_hotels_sorted.loc[ind, 'food.count'] = len(response_venues)

    except KeyError:
        print('Error')

print(df_all_food.shape)

(18654, 7)

In [22]:
# Remove duplications
df_all_food_sorted = df_all_food.sort_values(by=['name'], ignore_index=True).reset_index()[['id', 'location', 'name']]
df_all_food_sorted.drop_duplicates(subset=['id'], ignore_index=True, inplace=True)
df_all_food_sorted.shape

(3691, 3)

In [23]:
df_all_food_sorted.head()

,id,location,name
0,51f3dd29498e816eed7f6862,"{'lat': 37.314621921807245, 'lng': -8.80378810...",.it
1,4c703848df6b8cfae19fb74d,"{'address': 'C.C. La Plaza', 'crossStreet': 'A...",100 Montaditos
2,5baa2b0f4aa3f80039248ec9,"{'address': 'Rua 1.º de Dezembro 38', 'lat': 3...",100% Livre
3,503c975d830222581ce53204,"{'address': 'Mercado de Loulé', 'crossStreet':...",11 Gourmet
4,59ad27729de23b724c244c30,"{'address': 'Campo De Golf De Palmares', 'lat'...",180 Bar & Restaurant

In [24]:
df_all_food_sorted.to_csv('food_Hotels.csv', index=False)
upload_file_cos(credentials, 'food_Hotels.csv', 'food_Hotels.csv')

 File Uploaded

In [25]:
# Searching for all Nightlife venues
category = '4d4b7105d754a06376d81259'  # Nightlife Spot
df_all_Nightlife = pd.DataFrame()

for ind in df_all_hotels_sorted.index:

    location = df_all_hotels_sorted['location'][ind]
    try:
        coord = pd.DataFrame(location['labeledLatLngs'])
        latitude = coord['lat'][0]
        longitude = coord['lng'][0]
    except KeyError:  # Some of the locations does not have 'labeledLatLngs', but just JSON string
        try:
            location_json = ast.literal_eval(location)
            latitude = location_json['lat']
            longitude = location_json['lng']
        except ValueError:  # Some of those JSON string does not have 'quotes' around the values
            latitude = location['lat']
            longitude = location['lng']

    try:
        url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&intent=browse&categoryId={}'.format(
            CLIENT_ID,
            CLIENT_SECRET,
            VERSION,
            latitude,
            longitude,
            999,
            50,
            category)
        results = json_normalize(requests.get(url).json())

        if not results.empty:
            response_venues = results['response.venues'][0]
            if response_venues:
                if df_all_Nightlife.empty:
                    df_all_Nightlife = pd.DataFrame(response_venues)
                    df_all_hotels_sorted['nightlife.count'] = 0
                else:
                    df_all_Nightlife = df_all_Nightlife.append(response_venues, sort=False)
                df_all_hotels_sorted.loc[ind, 'nightlife.count'] = len(response_venues)

    except KeyError:
        print('Error')

print(df_all_Nightlife.shape)

(10254, 7)

In [26]:
# Remove duplications
df_all_Nightlife_sorted = df_all_Nightlife.sort_values(by=['name'], ignore_index=True).reset_index()[['id', 'location', 'name']]
df_all_Nightlife_sorted.drop_duplicates(subset=['id'], ignore_index=True, inplace=True)
df_all_Nightlife_sorted.shape

(1369, 3)

In [27]:
df_all_Nightlife_sorted.head()

,id,location,name
0,5543bbcc498eeb86510c86d8,"{'address': 'Largo da Praia, 12', 'lat': 37.09...","""O Bote"" Beach Club"
1,51c4f6a4498e6bf2acdc42fb,"{'lat': 37.12104716901985, 'lng': -8.340093294...",100 Limites
2,5479f5ec498e5ae4c497b369,"{'lat': 37.139101700596505, 'lng': -8.02349424...",11 da Vila
3,4cc07b741c6c6dcba2ac755e,"{'lat': 37.075586615583, 'lng': -8.11933685238...",19th Hole
4,5b5f090d029a55002caaa0f0,"{'address': 'Travessa do Golfe', 'crossStreet'...",19th Hole Bar and Restaurant

In [28]:
df_all_Nightlife_sorted.to_csv('nightlife_Hotels.csv', index=False)
upload_file_cos(credentials, 'nightlife_Hotels.csv', 'nightlife_Hotels.csv')

 File Uploaded

In [29]:
df_all_hotels_sorted['food.ratio'] = df_all_hotels_sorted['food.count'] / 50
df_all_hotels_sorted['nightlife.ratio'] = df_all_hotels_sorted['nightlife.count'] / 50
df_all_hotels_sorted.head()

,id,location,name,food.count,nightlife.count,food.ratio,nightlife.ratio
0,5b2d6e07b2958f002c54e4ba,"{'lat': 37.090429, 'lng': -8.209487, 'labeledL...",1-211 appartement,30,17,0.60,0.34
1,4f7350c2e4b0257534d4008b,"{'address': 'Algarve', 'lat': 37.10418, 'lng':...",402,9,2,0.18,0.04
2,575882b6498e96a54155636e,"{'lat': 37.093356, 'lng': -8.743884, 'labeledL...",A Cabana B&B,10,2,0.20,0.04
3,5011b9abe4b0c3be96766adf,"{'lat': 37.09199419481045, 'lng': -8.209547670...",Acqua Maris,33,17,0.66,0.34
4,4da4481b2939b1f7049e2e57,"{'address': 'Rocha Baixinha', 'lat': 37.082724...",Adriana Beach Club & Spa,9,5,0.18,0.10

In [30]:
df_all_hotels_sorted.to_csv('hotels_all.csv', index=False)
upload_file_cos(credentials, 'hotels_all.csv', 'hotels_all.csv')

 File Uploaded